In [1]:
import pandas as pd 

df = pd.read_csv(r'/Users/saribroudy/Resources/Tennessee_Tornadoes/TN_DF.csv')
print(df)

      Unnamed: 0    FID    YR  MO      DATE      TIME  MAG  INJ   LOSS  CLOSS  \
0              0  23025  2011   4    4/9/11  14:35:00    0    0  0.020    0.0
1              1  23027  2011   4    4/9/11  16:00:00    1    0  0.075    0.0
2              2  23028  2011   4    4/9/11  16:08:00    1    0  0.010    0.0
3              3  23029  2011   4    4/9/11  16:15:00    0    0  0.015    0.0
4              4  23044  2011   4   4/27/11  19:07:00    0    0  0.005    0.0
...          ...    ...   ...  ..       ...       ...  ...  ...    ...    ...
1109        1109  28915  1967   7    7/5/67  14:25:00    1    0  4.000    0.0
1110        1110  28916  1991  11  11/19/91  17:05:00    1    0  6.000    0.0
1111        1111  28926  1992   3   3/18/92   8:20:00    0    0  4.000    0.0
1112        1112  28962  1974   6    6/7/74  11:30:00    1    1  4.000    0.0
1113        1113  28984  2013   5   5/31/13   5:05:00    1    0  0.180    0.0

         SLAT     SLON     ELAT     ELON    LEN  WID
0     36.2971 -82.3174  36.2934 -82.3021   0.89   50
1     36.3000 -82.4341  36.3000 -82.4341   3.00  150
2     36.3037 -82.3923  36.3099 -82.3846   0.61  100
3     36.0424 -82.5568  36.0477 -82.5393   1.04   50
4     36.2255 -83.0570  36.2263 -83.0486   0.50   70
...       ...      ...      ...      ...    ...  ...
1109  35.0000 -90.0000   0.0000   0.0000   0.10   10
1110  35.1300 -90.0200  35.2800 -89.9300  10.00   50
1111  35.2200 -89.7700   0.0000   0.0000   1.50   50
1112  35.5700 -89.6500   0.0000   0.0000   0.30  100
1113  35.6159 -89.7031  35.6142 -89.6884   0.83  250

[1114 rows x 16 columns]

In [2]:
df.to_csv('TN_DF.csv')

In [4]:
df.to_csv('/Users/saribroudy/Resources/Tennessee_Tornadoes/TN_DF.csv')